* {
    margin:0;
    padding:0;
    font-family:sans-serif; 
}
.sk div{
    display: flex;
    font-size: small;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 20px;
}

.sk
{
    display: grid;
    grid-gap: 2px;
    grid-template-columns: auto auto auto auto;
    grid-area: span;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    position: relative;
}
.box{
    height: 10px;
    width: 30px;
    margin: auto;
    display: grid;
    align-items: center;
    justify-items: center;
    
}

.category-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.category{
    width: 8px;
    height: 8px;
    background: rgba(225,61,0,0.15);
    margin: 10px;
}
.box a
{
    position:relative;
    background: white;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}
.box a:hover
{
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 20px var(--clr);
}
.box a:before
{
    content: '';
    position: absolute;
    inset: 2px;
    background: black;
    
}
.box a span
{
    position: relative;
    z-index: 1;
}
.box a i
{
    position: absolute;
    inset: 0;
    display: block;
}
.box a i::before
{
    content: '';
    position: absolute;
    top:0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: black;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}
.box a:hover i::before
{
    width: 20px;
    left:20%;
}

.box a i::after
{
    content: '';
    position: absolute;
    bottom:0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: black;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}
.box a:hover i::after
{
    width: 20px;
    left: 80%;
}


/*index.html part*/ 

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(banner.jpg);
    background-size: cover;
    background-position: center; 
    position: relative;
}
nav{ 
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}
nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links li a::after{
    content: '';
    background: red;
    width:  0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}
.nav-links li a:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    padding: 2%;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px; 
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}


.aim{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.aim h1{
    font-size: 36px;
    font-weight: 600;

}

.aim p{
    color: black;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row
{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.aim-col
{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.h3
{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.aim-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}